<table class="table table-bordered table-condensed table-striped">
    <thead>
    <tr>
        <th>Plugin Name</th>
        <th>Working Name</th>
        <th>Up To Date</th>
        <th>Actions</th>
    </tr>
    </thead>
    {% for plugin in plugins %}
    <tr>
        <td>{{plugin.get_real_name()}}</td>
        <td>{{plugin.name}}</td>
        <td>TODO</td>
        <td>
            <div class="btn-group">
                <a class="btn dropdown-toggle btn-danger btn-small" data-toggle="dropdown" href="#">
                    Manage
                </a>
                <ul class="dropdown-menu">
                    <li><a href="#" onclick="dash_internal.deletePlugin('{{plugin.name}}')">Delete</a></li>
                    <li><a href="#">Update</a></li>
                </ul>
            </div>
        </td>
    </tr>
    {% endfor %}
</table>