<table class="table table-bordered table-condensed table-striped">
    <thead>
    <tr><th>Plugin Name</th></tr>
    </thead>
    {% for (k,v) in available_plugins.iteritems() %}
    <tr>
        <td>{{k}}</td>
        <td><a onclick="dash_internal.install_setup('{{k}}')" class="btn btn-success btn-small">Install</a></td>
    </tr>
    {% endfor %}
</table>