<div class="modal-header">
    <h2>Plugin Manager</h2>
</div>

<div class="modal-body">
    <div class="tabbable">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#1" data-toggle="tab">Active Plugins</a></li>
            <li><a href="#2" data-toggle="tab">Available Plugins</a></li>
            <li><a href="#3" data-toggle="tab">Installed Plugins</a></li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane active active-plugins" id="1">
                {% include 'activeplugins.html' %}
            </div>
            <div class="tab-pane available-plugins" id="2">
                {% include 'availableplugins.html' %}
            </div>
            <div class="tab-pane installed-plugins" id="3">
                {% include 'installedplugins.html' %}

            </div>
        </div>
    </div>
</div>

<div class="modal-footer">
    <a onclick="dash_internal.exitSettings()" class="btn btn-primary">Close</a>
</div>