{% set pre_install = False %}
<table class="table table-bordered table-condensed table-striped">
    <thead>
    <tr><th>Plugin Name</th><th>Local Name</th><th>Status</th></tr>
    </thead>
    {% for plugin in installed_plugins %}
    <tr><td>{{plugin.plugin_name}}</td><td>{{plugin.working_name}}</td><td>{{plugin.state}}</td></tr>
    {% endfor %}
</table>