<p><strong>Setup:</strong> {{plugin_name}}</p>
<form>
    <label for="working_name">Working name:</label>
    <input type="text" id="working_name" value=""/>
    <input type="hidden" id="plugin_name" value="{{plugin_name}}"/>
</form>
<div class="install-errors">
</div>
<a onclick="dash_internal.cancelInstallPlugin()" class="btn btn-danger">Cancel</a>
<a onclick="dash_internal.installPlugin()" class="btn btn-primary">Save</a>
        