body {
    background: #dddddd;
}

div.plugin-div {
    float: left;
    width: 375px;
    height: 300px;
    margin: 10px;
    background: #ffffff;
    border:1px solid black;
    overflow: hidden;
}

.plugins {
    margin-top:50px;
    margin-left:10px;
}

.label {
    font-weight: bold;
}