{% set scripts = [] %}
{% for plugin in plugins %}
<div class="plugin-div" id="{{ plugin.get_name() }}" >
    {% set js = plugin.get_javascript() %}
    {% if js %}
        Loading....
        {% set a = scripts.append(js) %}
    {% else %}
        "Error Loading Plugin"
    {% endif %}
</div>
{% endfor %}

<script type="text/javascript" src="/media/js/dash.js" ></script>
{% for scr in scripts %}
{{ scr }}
{% endfor %}